# Ignore environment variables
.env
server/.env
client/.env

# Ignore node_modules folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore log files
*.log

# Ignore build/dist folders (optional)
dist/
build/
